// Global Variables
$primary-color: #86BAA1;    // Green from header in the sketch
$secondary-color: #ffffff;  //Darker green for submit button
$background-color: #f5f5f5; // White for the main background
$textbox-color: #EFEFEF;    // Light grey for the textboxes
$accent-color: #FFCF56;     // Page that we are on 
$hover-color: #c42020;       
$dark-blue: #2D4F8A;        // Dark blue for the options buttons
$font-color: #000000;
$font-family: 'Source Code Pro', monospace;

body {
    font-family: $font-family;
    color: $font-color;
    background-color: $secondary-color;
    margin: 0;
}

// Header
h1 {
    font-family: $font-family; 
    font-size: 50px;
    font-weight: 400;
    line-height: 62.85px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

//Text styling
.yap{ //Used for long yapping text
    font-family: Space Mono;
    font-size: 20px;
    font-weight: 700;
    line-height: 29.62px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

//TODO: organize this better lol and have a consistent system for fonts and text styling

.t{
    font-size: 1.75rem;
    font-weight: bold;
}

.mono {
    font-family: monospace; 
    border-radius: 8px;
    // font-family: Space Mono;
    // font-size: 20px;
    // font-weight: 700;
    // line-height: 29.62px;
    // text-align: center;
    // text-underline-position: from-font;
    // text-decoration-skip-ink: none;
}

.mono-1 {
    font-family: monospace; 
    border-radius: 8px;
    font-size: 1.25rem;
}

.mono-big{
    font-family: monospace; 
    border-radius: 10px;
}


// Navbar Styling
.container-fluid{ 
    background-color: $primary-color;  //Background color of the navbar
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.navbar-color {
    background-color: $primary-color;
    .active {
        text-decoration-color: $accent-color;
        font-weight: bold;
        color: $accent-color;
    }
    .nav-link {
        color: $background-color; // Color of the text in the navbar
        &:hover {
            color: lighten($accent-color, 10%); 
        }
    }

    .home-link {
        color: $accent-color !important;
        font-weight: bold;
    }
}

// Button Styling

.btn-primary {
    background-color: $primary-color;
    color: $secondary-color;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    
    font-weight: bold;
    &:hover {
        background-color: darken($primary-color, 10%);
    }
}

//Submit button
.btn-success{
    background: #3AB795;
}

// Main Container
main {
    padding: 20px;

    // Input Section
    .input-container {
        margin-bottom: 20px;
        textarea {
            border-radius: 8px;
            border: 1px solid $hover-color;
            padding: 10px;
            resize: vertical;
            width: 100%;
        }
    }

    //Textbox
    .form-control {
        background-color: $textbox-color;
    }

    // File Upload
    .file-upload {
        margin-bottom: 20px;
        input[type="file"] {
            padding: 10px;
            border: 1px solid $hover-color;
            border-radius: 8px;
        }
    }    
}