// Global Variables
$primary-color: #52b280; // Green from header in the sketch
$secondary-color: #ffffff;
$hover-color: #e0d71f; // LHovering over menu items
$font-color: #3b3a3a;
$font-family: 'Arial', sans-serif;

body {
    font-family: $font-family;
    color: $font-color;
    background-color: $secondary-color;
    margin: 0;
}

// Header
h1 {
    font-size: 2.5rem;
    color: $font-color;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

// Navbar Styling
.navbar-color {
    background-color: $primary-color;
    .nav-link {
        color: $secondary-color !important;
        font-weight: bold;
        margin-right: 15px;

        &:hover {
            text-decoration: underline;
            text-decoration-color: $hover-color;
        }
    }
}

.btn-primary {
    background-color: $primary-color;
    color: $secondary-color;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    
    font-weight: bold;
    &:hover {
        background-color: darken($primary-color, 10%);
    }
}

// Main Container
main {
    padding: 20px;

    // Input Section
    .input-container {
        margin-bottom: 20px;
        textarea {
            border-radius: 8px;
            border: 1px solid $hover-color;
            padding: 10px;
            resize: vertical;
            width: 100%;
        }
    }

    // File Upload
    .file-upload {
        margin-bottom: 20px;
        input[type="file"] {
            padding: 10px;
            border: 1px solid $accent-color;
            border-radius: 8px;
        }
    }

    // Options Dropdown Section
    .options {
        background-color: $accent-color;
        padding: 20px;
        border-radius: 8px;
        display: inline-block;
        margin-bottom: 20px;

        .dropdown {
            margin-right: 15px;
        }

        button.btn-secondary {
            background-color: $primary-color;
            border: none;
            &:hover {
                background-color: $hover-color;
            }
        }
    }
       
}