// Global Variables
$primary-color: #73c59b;    // Green from header in the sketch
$secondary-color: #ffffff;  //Darker green for submit button
$background-color: #f5f5f5; // White for the main background
$textbox-color: #f5f5f5;    // Light grey for the textboxes
$accent-color: #e0d71f;     // Page that we are on 
$hover-color: #c42020;       
$dark-blue: #092e59;        // Dark blue for the options buttons
$font-color: #3b3a3a;
$font-family: 'Arial', sans-serif;

body {
    font-family: $font-family;
    color: $font-color;
    background-color: $secondary-color;
    margin: 0;
}

// Header
h1 {
    font-size: 2.5rem;
    color: $font-color;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

// Navbar Styling
.container-fluid{
    background-color: $primary-color;  //Background color of the navbar
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.navbar-color {
    background-color: $primary-color;
    .active {
        text-decoration-color: $accent-color;
        font-weight: bold;
    }
    .nav-link {
        color: $background-color; // Color of the text in the navbar
        &:hover {
            color: lighten($accent-color, 10%); 
        }
    }
}

//Title Styling
// .mt-5 { //Surrounds entire "main" section of the page, including title up to after the submit button
//     background-color: $background-color;
//     padding: 20px;
//     border-radius: 10px;
//     margin-bottom: 20px;
// }

// Button Styling

.btn-primary {
    background-color: $primary-color;
    color: $secondary-color;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    
    font-weight: bold;
    &:hover {
        background-color: darken($primary-color, 10%);
    }
}

// Main Container
main {
    padding: 20px;

    // Input Section
    .input-container {
        margin-bottom: 20px;
        textarea {
            border-radius: 8px;
            border: 1px solid $hover-color;
            padding: 10px;
            resize: vertical;
            width: 100%;
        }
    }

    // File Upload
    .file-upload {
        margin-bottom: 20px;
        input[type="file"] {
            padding: 10px;
            border: 1px solid $hover-color;
            border-radius: 8px;
        }
    }

    // Options Dropdown Section
    .options {
        background-color: $hover-color;
        padding: 20px;
        border-radius: 8px;
        display: inline-block;
        margin-bottom: 20px;

        .dropdown {
            margin-right: 15px;
        }

        button.btn-secondary {
            background-color: $primary-color;
            border: none;
            &:hover {
                background-color: $hover-color;
            }
        }
    }
       
}